<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4357235401-csvtvnecsrmn8rk1telcvjsbflojghcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4357235401-csvtvnecsrmn8rk1telcvjsbflojghcj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4357235401-239i148med1ci475d7rqrqotjras32m5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1qH3c9IFMJ2kvVkseFZ1p_thbCru4Sdc</string>
	<key>GCM_SENDER_ID</key>
	<string>4357235401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renewash.app</string>
	<key>PROJECT_ID</key>
	<string>afro-united-23c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>afro-united-23c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4357235401:ios:d1d20b4fdcdbc44c462318</string>
</dict>
</plist>